<html lang="ru">
<body>
<img src="333.png" alt="Штаб" width="200" style="display: block; margin-bottom: 20px;">

<!--<h1>Добро пожаловать!</h1>-->
<!--<a href="/api/v1/user">Перейти к защищенной части</a>-->
<p>
<a href="/api/v1/uiks">📋Адреса УИКов</a>
</p>
<p>
<a href="/api/v1/results">📊 Результаты 2021 года</a>
</p>
<p>
<a href="https://yandex.ru/maps/66/omsk/?indoorLevel=1&ll=73.386170%2C54.998662&mode=usermaps&source=constructorLink&um=constructor%3Ad2338b34a1810893870c0ab0beb504ea48c2c9ed9a31e05e9f18ca98c4c5dec1&z=13.53">🗺️Карта округа</a>
</p>
</body>
</html>